* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  background: #1F222A;
  width: 97%;
  color: #D5DFE9;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a{
  color: #fff;
}

.card {
  /* Add shadows to create the "card" effect */
  flex: 0 1 calc(24% - 8px);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 40%;
  margin-bottom: 46px;
  display: flex;
  margin-right: 15px;
}

@media (max-width: 1124px) {
  .card {
    flex: 0 1 calc(32% - 8px);
  }
}

@media (max-width: 800px) {
  .card {
    flex: 0 1 calc(47% - 8px);
  }
}

@media (max-width: 476px) {
  .card {
    flex: 0 1 calc(99% - 8px);
  }
}

.card img {
  width: 100%;
}

.card__icon {
  background: #1F222A;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.venue {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.venue__content{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination .page-link {
  padding: 10px;
  text-decoration: none;
  color: #1F222A;
}

.pagination .page-link.active, .venue__search-input button {
  background-color: #1F222A;
  color: white;
}

.pagination .page-link:hover:not(.active) {background-color: #ddd;}


.venue__search-input{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.venue__search-input input {
  padding: 10px;
  width: 100%;
}

.venue__search-input input:focus, .venue__search-input input:active {
  outline: none
}

.venue__search-input button {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.venue__search-input button:focus, .venue__search-input button:active {
  outline: none;
}

@media (max-width: 768px) {
.venue__search-input{
    width: 94%;
    display: flex;
  }
}
